/* mail list */
.mail-list {
	min-width: 0;
	flex: 1;
}

.no-mails-info {
	text-align: center;
	flex: 1;
}

.mail-list-container {
	min-width: 0;
	flex: 1;
	background-color: white;
	border-radius: 15px;
}
