.mail-preview,
.full-mail {
	font-size: 0.875rem;
	position: relative;
	display: flex;
	gap: 1em;
	border: 1px solid rgba(100, 121, 143, 0.122);
	padding-block: 0.625em;
	justify-content: space-between;
	color: var(--mail-clr-1);
	padding-inline: 1em;
	background-color: var(--mail-bg-clr-1);
	z-index: 1;
}

.mail-preview.unread,
.mail-preview.unread + .full-mail {
	background-color: #fff;
}

.mail-preview:hover {
	box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3),
		0 1px 3px 1px rgba(60, 64, 67, 0.15);
	z-index: 2;
}

.mail-preview.unread :is(.mail-subject, .mail-from) {
	font-weight: bold;
	color: var(--mail-clr-2);
}

.mail-body {
	flex: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mail-from {
	flex: 1;
	max-width: 15em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mail-date {
	font-size: 0.75em;
	padding-inline-start: 0.625em;
}

.icons-container {
	gap: 1em;
	display: none;
}

.mail-preview:hover .icons-container {
	display: flex;
}

.mail-preview:hover .mail-date {
	display: none;
}

.mail-preview ~ .full-mail p {
	white-space: pre-wrap;
}
