.app-header {
	background-color: var(--mail-bg-clr-2);
	display: flex;
	justify-content: space-between;
	height: 5rem;
}

nav a.active {
	font-weight: bold;
	text-decoration: underline;
}

.app-header a {
	align-self: center;
}

.app-header-logo {
	display: absolute;
	padding-inline-start: 20px;
}

.app-header-hamburger {
	align-self: center;
	padding-inline-end: 20px;
}

.app-header-hamburger::after {
	top: -8px;
	bottom: -9px;
	left: -9px;
	right: 10px;
}

.header-apps {
	z-index: 999;
	background-color: #fff;
	border: 1px solid gray;
	position: absolute;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	right: 50px;
}

.header-apps > * {
	box-sizing: content-box;
	/* margin: 0; */
	margin: 1em;
	scale: 2;
}

.header-apps a:hover {
	scale: 2.4;
}

.header-apps.hidden {
	display: none;
}

.header-apps .home {
	color: rgb(51, 68, 185);
}

.header-apps .mail {
	color: red;
}
.header-apps .note {
	color: #fabd05;
}
